In [4]:
# Configuration to automatically reload modified modules
%load_ext autoreload
%autoreload 2

# This allows changes in imported modules to be reflected automatically
# without needing to restart the kernel

In [5]:
import pandas as pd
import toml
import sys
sys.path.append("..")

config = toml.load("../config.toml")

In [10]:
from utils import load_prompts

load_prompts("../prompts.yaml", config["model"]["model_name"])

{'system': 'Eres un asistente útil que proporciona información estructurada sobre empresas en formato JSON.\n',
 'user': 'Proporciona información estructurada sobre la empresa "{company_name}" en formato JSON.\nIncluye los siguientes campos si están disponibles:\n  - company_name: Nombre oficial de la empresa\n  - industry: Sector industrial principal\n  - headquarters: Ubicación de la sede\n  - founded_year: Año de fundación\n  - employee_count: Número aproximado de empleados\n  - revenue: Ingresos anuales (si es pública)\n  - description: Breve descripción de la empresa\n  - website: URL oficial del sitio web\nSi la información no está disponible, utiliza null para ese campo.\nDevuelve solo JSON válido sin texto adicional.\n'}

In [11]:
companies_df = pd.read_csv(f"../{config['data']['input_csv_path']}")

In [9]:
companies_df.head()

,Cuenta,CIF,Está en SF?,Link a SF,Razón Social,Teléfono,Sitio Web,CNAE,Descripción de CNAE,Sector,...,Nombre CIO,Apellidos CIO,email CIO,Teléfono móvil CIO,Link del perfil de Linkedin CIO,Nombre CEO,Apellidos CEO,email CEO,Teléfono móvil CEO,Link del perfil de Linkedin CEO
0,Mossega,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Vision Técnica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Instalaciones Técnicas L. Zapata, SL - ITZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,THE COFFEE POT BCN SL.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Octograficus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN